<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <div class="flex w-screen h-screen justify-center items-center">
        <div class="w-6/12 h-6/12">
            <form action="/delete/acknowledgement" method="post">
                <div class="flex flex-col gap-y-1.5">
                    <div class="flex justify-center"><input type="text" placeholder="Name" name="name" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="submit" value="Delete" class="bg-red-700 text-2xl text-white p-2 rounded-full ... hover:cursor-pointer" /></div>
                </div>
            </form>
        </div>
</div>
</body>

</html>