<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
</head>
<body>
    <h2>Index</h2>
    <div><a href="/save">Save Employee data</a></div>
    <div><a href="/find">Find Employee Data</a></div>
    <div><a href="/update">Update Employee data</a></div>
    <div><a href="/delete">Delete Employee Data</a></div>
    <div><a href="/find-all">Find all Employees Data</a></div>
</body>
</html>