<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <div class="flex w-96 h-96 justify-center items-center">
            <div class="w-1/2 h-1/2">
                <form action="/update/acknowledgement" method="post">
                    <input type="text" placeholder="Name" name="name"/>
                    <input type="text" placeholder="Salary" name="salary"/>
                    <input type="text" placeholder="Language" name="language"/>
                    <input type="text" placeholder="City" name="city"/>
                    <input type="text" placeholder="isManager" name="isManager"/>
                    <input type="submit" value="Save" class="bg-green-500 text-4xl text-white" />
                </form>
            </div>
    </div>
</body>
</html>