<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <div class="flex w-screen h-screen justify-center items-center">
        <div class="w-6/12 h-6/12">
            <form action="/update/acknowledgement" method="post">
                <div class="flex flex-col gap-y-1.5">
                    <div class="flex justify-center"><input type="text" placeholder="Name" name="name" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="text" placeholder="Salary" name="salary" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="text" placeholder="Language" name="language" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="text" placeholder="City" name="city" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="text" placeholder="isManager" name="isManager" class="border-solid border-2 border-black-600 ..."/></div>
                    <div class="flex justify-center"><input type="submit" value="Update" class="bg-yellow-500 text-2xl text-white p-2 rounded-full ... hover:cursor-pointer" /></div>
                </div>
            </form>
        </div>
</div>
</body>
</html>